/* Importando Fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
    text-align: justify;
}

/* Variáveis */
:root{
    /* Cor */
    --color-red: #EE0000;
    --color-gray-100: #38383F;
    --color-gray-200: #555555;
    --color-gray-300: #15151E;
    --color-white: #FFFFFF;

    /* Fonte */
    --font-montserrat: "Montserrat", sans-serif;
}

/* Títulos das Páginas */
.conteudo h1{
    font-family: var(--font-montserrat);
    color: var(--color-white);
    font-weight: 500;
    font-size: 2.5rem;
}

/* Sidebar */
/* Sombra da Sidebar */
[data-testid="stSidebarContent"] {
    border-right: var(--color-gray-100) 0.12rem solid;
    box-shadow: 1px 1px 51px 16px rgba(0,0,0,0.42);
    -webkit-box-shadow: 1px 1px 51px 16px rgba(0,0,0,0.42);
    -moz-box-shadow: 1px 1px 51px 16px rgba(0,0,0,0.42);
}

/* Estilo do texto */
[data-testid="stSidebarNav"] span {
    font-family: var(--font-montserrat);
    color: var(--color-white);
    font-weight: 400;
    font-size: 1rem;
}

/* Container do texto */
[data-testid="stSidebarNav"] a{
    display: flex;
    gap: 1.2rem;
    padding: 0.5rem 1rem;
    border-bottom: 0.1rem solid var(--color-white);
    border-right: 0.1rem solid var(--color-white);
    border-radius: 0.5rem 0 0.5rem 0;
    margin-bottom: 1rem;
}

/* Texto do Header do Navbar */
[data-testid="stSidebarNav"] [data-testid="stNavSectionHeader"] {
    font-family: var(--font-montserrat);
    color: var(--color-white);
    font-weight: 800;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Sobre Mim Páginas */
/* Título */
.conteudo .sobre-titulo,.conteudo .sobre-subtitulo {
    text-align: center;
    font-family: var(--font-montserrat);
}

.sobre-subtitulo{
    color: var(--color-gray-200);
}

/* Frase */
.caption {
    font-size: 1.2rem;
    color: var(--color-gray-200);
    font-family: var(--font-montserrat);
}

.conteudo .titulo-2{
    font-size: 2.2rem;
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    font-weight: 300;
}

.paragrafo > .text {
    text-align: justify;
    font-size: 1rem;
    font-family: var(--font-montserrat);
}

.paragrafo > .text b, .paragrafo > .text strong {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration-color: var(--color-red);
    text-decoration-thickness: 2px;
}

.paragrafo > .text i {
    font-weight: 300;
}
